body {
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 2%;
  background-color: #2B2C3D;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;

}

input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

b {
  font-weight: 2;
}

#outputbox {
  background-color: #3e4450;
  padding: 1rem;
  margin: 20px
  
}

h4 {
  color:rgb(55, 181, 249);
}


h5 {
  margin-bottom: 0px;
  color:rgb(57, 186, 255);
}

button {
  background-color: #18b3f1; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#reseter {
  background-color: #6e6a6a; /* Green */
  margin-left: 20px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

hr {
  margin-top: 1%;
  border: 2px solid #4a5467;
  border-radius: 5px;


}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
